openapi: 3.1.0
info:
  title: Saturation API
  version: 1.0.0
  description: 'The Saturation API lets you read and write production finance data. You work with budgets, transactions, purchase
    orders, payment requests, payments, documents, contacts, and the Library. You can search across them and subscribe to
    webhooks when data changes. Authenticate every request with a personal token in the Authorization header: Authorization:
    Bearer <token> Create a token in Saturation under Settings > Developers > API. The token acts as you in the workspace
    where it was created. Conventions:

    - A successful response is the resource itself. A list is a data array with a nextCursor. Only errors are wrapped, as
    { success: false, code, message, requestId }, with a typed code you can branch on.

    - Money is an integer amount of minor units with a currency, for example { "amount": 152900, "currency": "USD" }. Dates
    are ISO-8601 strings.

    - Lists are paginated. Pass limit (up to 100, default 50) and the cursor from the previous response. Pass withCount=true
    for a total.

    - 404 not_found is returned when a resource is missing or you cannot read it, so existence never leaks.'
  contact:
    name: Saturation API
    url: https://docs.saturation.io
  license:
    name: Proprietary
    url: https://saturation.io/terms
servers:
- url: https://next-api.saturation.io/v1
  description: Production
- url: http://localhost:4300/v1
  description: Local development
security:
- bearerAuth: []
tags:
- name: Meta
  description: Identity and health. GET /me resolves the current token's identity and works before you know a workspace id.
    GET /healthz is an unauthenticated health check.
- name: Workspaces
  description: The workspace your token can act in.
- name: Projects
  description: Create, read, update, and delete projects. A project is addressable by its slug or its id.
- name: Spaces
  description: Folders that group projects in a workspace.
- name: Contacts
  description: Your workspace contacts (vendors, crew, payees) and their documents.
- name: Tokens
  description: List, inspect, and revoke your API tokens. You create tokens in Saturation under Settings > Developers > API;
    these routes manage them after that.
- name: Library (workspace)
  description: 'The workspace Library, where you set up reusable budget building blocks: rate packs, incentive packs, fringes,
    globals, currencies, tags, and units. You enable packs here, then add items to a project.'
- name: Library (project)
  description: 'The Library items added to one project: rate packs, incentives, fringes, globals, and currencies. Each item
    remembers its source (`sourceId` for workspace copies, `sourceIncentiveVersionId` for Saturation incentive versions),
    and you can edit it without changing the original.'
- name: Budget
  description: Read a project budget and its computed totals (lines, phases, accounts, rollups, and variance) and edit budget
    lines and phases. A computed read can return 504 budget_compute_timeout or 413 budget_too_large.
- name: Transactions
  description: The unified financial record. Each transaction has a source, type, and status, with itemized lines, stats,
    and document lookups.
- name: Purchase Orders
  description: Purchase orders with a read-only status, current Activity, a financial Summary, linked records, suggested matches,
    and a Timeline.
- name: Payment Requests
  description: Requests to pay a person or company. A request stays separate from the payment that follows.
- name: Payments
  description: Payments from request through settlement, with linked records and a Timeline.
- name: Documents
  description: Upload a document once, then assign it to a transaction, budget line, purchase order, or contact. You can also
    read a document's content and manage its links.
- name: Search
  description: Search across transactions, documents, contacts, and budget lines, at workspace or project scope. You only
    see results you have permission to read, and results are paginated.
- name: Comments
  description: Comments on entities in a workspace.
- name: Webhooks
  description: Subscribe an endpoint to data-change events. Manage subscriptions, send a test delivery, and review delivery
    history. Each delivery is signed (X-Saturation-Signature) so you can verify it.
- name: Views
  description: Saved filters you can reuse. A view stores a filter you can apply by id, and you can add more filters on top
    of it.
paths:
  /projects/{projectId}/budget:
    get:
      operationId: budget_getDocument
      summary: Get the budget document (tree + phases + totals + editable phase data)
      description: Returns the budget document as a flat array of lines (rebuild the tree from `parentId`), visible phase
        columns, computed totals, and editable estimate phase data, all in one response. Use `path` or `accountCode` to narrow
        a large budget before the server line ceiling is applied. `accountId`, tag filters, date windows, hidden phases, and
        `expand` are rejected on this document read.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: path
        in: query
        required: false
        description: Materialized account path (for example `1100/1110`) naming exactly one root line and its descendants.
        schema:
          type: string
      - name: accountCode
        in: query
        required: false
        description: Leaf account code naming exactly one root line and its descendants. Duplicate codes return `409 account_code_ambiguous`.
        schema:
          type: string
      - name: phase
        in: query
        required: false
        description: Visible phase id, alias, name, or type. Ambiguous selectors return `400 validation`; hidden phases are
          excluded.
        schema:
          type: string
      - name: accountId
        in: query
        required: false
        deprecated: true
        description: Rejected on `GET /budget`; use `accountCode`.
        schema:
          type: string
      - name: tags
        in: query
        required: false
        deprecated: true
        description: Rejected on `GET /budget`; tag-filtered documents are deferred.
        schema:
          type: string
      - name: tagMode
        in: query
        required: false
        deprecated: true
        description: Rejected on `GET /budget`; tag-filtered documents are deferred.
        schema:
          $ref: '#/components/schemas/TagMode'
      - name: dateFrom
        in: query
        required: false
        deprecated: true
        description: Rejected on `GET /budget`; date-windowed documents are deferred.
        schema:
          type: string
      - name: dateTo
        in: query
        required: false
        deprecated: true
        description: Rejected on `GET /budget`; date-windowed documents are deferred.
        schema:
          type: string
      - name: includeHiddenPhases
        in: query
        required: false
        deprecated: true
        description: Rejected on `GET /budget`; hidden phases are intentionally excluded.
        schema:
          type: boolean
      - name: expand
        in: query
        required: false
        deprecated: true
        description: Rejected on budget document reads; the document is already fully shaped.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        description: Conditional GET. Pass a prior `ETag`; an unchanged budget (for the same caller's permission projection)
          returns `304 Not Modified`. The permission gate is re-run before any `304`, so a foreign-tenant or stale ETag never
          short-circuits authorization.
        schema:
          type: string
      responses:
        '200':
          description: The budget document.
          headers:
            ETag:
              description: Opaque validator per (budget, permission-projection). Pass back as `If-None-Match`.
              schema:
                type: string
            Cache-Control:
              description: '`max-age=T`, the bounded-staleness window (the cache TTL).'
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetDocument'
        '304':
          description: Not modified, the ETag matched (permission re-checked first).
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '429':
          $ref: '#/components/responses/Error429'
        '504':
          $ref: '#/components/responses/Error504'
  /projects/{projectId}/budget/totals:
    get:
      operationId: budget_getTotals
      summary: Get grand totals (optionally for a filtered slice)
      description: Returns the engine's grand totals as of `computedAt`. With supported filters (`phase`, `accountId`/`path`
        subtree) the response is the engine-coalesced slice total, computed server-side and never summed by the client. `path`
        matches only the materialized account path; `accountId` is a code classifier and can be ambiguous. `expand` is rejected.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: phase
        in: query
        required: false
        description: Narrow to one phase, by phase id or `type` (e.g. `estimate`).
        schema:
          type: string
        example: estimate
      - name: accountId
        in: query
        required: false
        description: Account code classifier, subtree-scopes the slice (a code may sit on many rows).
        schema:
          type: string
        example: '1100'
      - name: path
        in: query
        required: false
        description: Coded account path to subtree-scope the slice (e.g. `1100/1110`).
        schema:
          type: string
        example: 1100/1110
      - name: If-None-Match
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Totals for the (optionally filtered) slice.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetTotals'
        '304':
          description: Not modified, the ETag matched (permission re-checked first).
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '429':
          $ref: '#/components/responses/Error429'
        '504':
          $ref: '#/components/responses/Error504'
  /projects/{projectId}/budget/lines:
    get:
      operationId: budget_listLines
      summary: List budget lines (paginated, filterable)
      description: 'Browse/edit individual stored budget lines, paginated. Filters AND-compose. `accountId` is a classifier
        and returns a set (an account code can sit on many rows); `path` returns exactly one row (or `409 account_path_ambiguous`
        if a coded path matches more than one live row). For the complete budget document use `GET /budget`. Expand keys:
        `phaseTotals, phaseData, contact, account, source`; `phaseData` returns raw editable estimate phase data keyed by
        phase id. (The legacy `lines.notes` expand is not ported, the note is a plain-text `line.notes` field always present
        inline; see `BudgetLine.notes`.)'
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: accountId
        in: query
        required: false
        description: Account code classifier, returns a SET (a code may sit on many rows). Use `path`/`id` for an exact single-row
          read.
        schema:
          type: string
        example: '1100'
      - name: path
        in: query
        required: false
        description: Coded account path for an exact single-row read (e.g. `1100/1110`). A coded path matching more than one
          live row returns `409 account_path_ambiguous`.
        schema:
          type: string
        example: 1100/1110
      - name: tags
        in: query
        required: false
        description: Comma-separated tag ids/names; composed per `tagMode`.
        schema:
          type: string
        example: vfx
      - name: tagMode
        in: query
        required: false
        description: How `tags` composes (`any` = OR default, `all` = AND, `none` = exclude).
        schema:
          $ref: '#/components/schemas/TagMode'
      - name: kind
        in: query
        required: false
        description: Filter by the `kind` discriminator (comma-separated for multiple).
        schema:
          type: string
        example: line,account
      - $ref: '#/components/parameters/budgetLineExpand'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      responses:
        '200':
          description: A page of budget lines.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BudgetLine'
                  nextCursor:
                    $ref: '#/components/schemas/NextCursor'
                  count:
                    type: integer
                    description: Total matching lines; present only when `withCount=true`.
                  truncated:
                    type: boolean
                    description: True when a permission/expand under-fetch bounded the page short of `limit`.
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '429':
          $ref: '#/components/responses/Error429'
    post:
      operationId: budget_createLine
      summary: Create a budget line with optional phase data
      description: Creates a stored budget line under `parentId`, optionally with initial editable phase data keyed by phase
        id. Server mints `id`, the internal address reference, and timestamps, they cannot be client-supplied. Naming a server-owned
        field returns `422 field_read_only`. Emits a durable `budgetLine.created` audit event.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLineCreate'
      responses:
        '201':
          description: The created budget line.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLine'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/lines/bulk:
    post:
      operationId: budget_createLinesBulk
      summary: Create budget lines in one all-or-nothing bulk
      description: 'Creates multiple stored budget lines, each optionally carrying initial editable phase data keyed by phase
        id. The bulk is transactional: either every line and phase-data entry is written, or none are. A required `Idempotency-Key`
        provides exactly-once same-body retries.'
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLineBulkCreate'
      responses:
        '201':
          description: The created budget lines in request order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLineBulkCreateResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/lines/phase-data/bulk:
    post:
      operationId: budget_upsertLinePhaseDataBulk
      summary: Upsert editable line phase data in one all-or-nothing bulk
      description: 'Upserts raw editable estimate phase data for existing lines and phases. The bulk is transactional: either
        every phase-data entry is written, or none are. A required `Idempotency-Key` provides exactly-once same-body retries.'
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLinePhaseDataBulkUpsert'
      responses:
        '200':
          description: The normalized editable phase data after the upsert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLinePhaseDataBulkUpsertResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/lines/{lineId}:
    get:
      operationId: budget_getLine
      summary: Get a budget line by id
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: lineId
        in: path
        required: true
        description: "Budget line identifier (`lin_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/budgetLineExpand'
      responses:
        '200':
          description: The budget line.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLine'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: budget_updateLine
      summary: Update a budget line
      description: Patches the provider-writable allow-list, optionally upserting editable phase data keyed by phase id. Naming
        a server-owned field (`address`, `budgetId`, `path`, `depth`, timestamps) returns `422 field_read_only` listing offenders,
        never a silent strip. Emits a durable `budgetLine.updated` audit event.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: lineId
        in: path
        required: true
        description: "Budget line identifier (`lin_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLineUpdate'
      responses:
        '200':
          description: The updated budget line.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLine'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: budget_deleteLine
      summary: Soft-delete a budget line
      description: Soft-deletes the line (`soft-delete timestamp = now`). Re-creating an edited-then-deleted line resurrects
        the diverged copy as-is (edits preserved); pass `?reset=true` to re-snapshot instead. Emits a durable `budgetLine.deleted`
        audit event.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: lineId
        in: path
        required: true
        description: "Budget line identifier (`lin_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      - name: reset
        in: query
        required: false
        description: When resurrecting on re-create, `true` re-snapshots from source instead of preserving edits.
        schema:
          type: boolean
          default: false
      responses:
        '204':
          description: Soft-deleted. No body.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/lines/{lineId}/phase-data/{phaseId}:
    put:
      operationId: budget_upsertLinePhaseData
      summary: Upsert one editable line phase-data entry
      description: Upserts raw editable estimate phase data for one line/phase intersection. Omitted fields are left unchanged;
        explicit `null` clears nullable fields.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: lineId
        in: path
        required: true
        description: "Budget line identifier (`lin_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      - name: phaseId
        in: path
        required: true
        description: "Budget phase identifier (`phs_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLinePhaseDataUpsert'
      responses:
        '200':
          description: The normalized editable phase data after the upsert.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLinePhaseDataUpsertResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/phases:
    get:
      operationId: budget_listPhases
      summary: List budget phases
      description: The phase columns of the budget (soft-deleted phases excluded).
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: The budget phases.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BudgetPhase'
                  nextCursor:
                    $ref: '#/components/schemas/NextCursor'
                  count:
                    type: integer
                    description: Total matching phases; present only when `withCount=true`.
                  truncated:
                    type: boolean
                    description: True when a permission/expand under-fetch bounded the page short of `limit`.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    post:
      operationId: budget_createPhase
      summary: Create a budget phase
      description: Adds a phase column. Emits a durable audit event.
      tags:
      - Budget
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              - name
              additionalProperties: false
              properties:
                type:
                  $ref: '#/components/schemas/PhaseType'
                name:
                  type: string
                alias:
                  type: string
                color:
                  type: string
                isHidden:
                  type: boolean
                derivedFromPhaseId:
                  type: string
                  description: 'Create a SCENARIO: an estimate phase derived from an existing estimate phase in the same budget,
                    with that phase''s values copied server-side. Both the base and the new phase must be `type: estimate`.'
                copyValues:
                  type: boolean
                  description: Copy the base phase's values into the new phase. Only meaningful with `derivedFromPhaseId`;
                    defaults to `true`. Pass `false` for an empty derived phase that still records its lineage.
                rollupFormula:
                  type: string
                  maxLength: 2000
                  pattern: ^(?:@\{[\w-]+\}|@[\w-]+|[\d\s+\-*/().,%])*$
                  description: 'Rollup formula (only legal with `type: rollup`): phase references as `@{<phaseId>}` combined
                    with + and -, e.g. `@{phaseA} - @{phaseB}`. Without a formula a rollup column totals 0.'
            example:
              type: estimate
              name: Scenario B
              derivedFromPhaseId: ph_1a2b
      responses:
        '201':
          description: The created phase.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPhase'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/phases/{phaseId}:
    get:
      operationId: budget_getPhase
      summary: Get a budget phase by id
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: phaseId
        in: path
        required: true
        description: "Budget phase identifier (`phs_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The phase.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPhase'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: budget_updatePhase
      summary: Update a budget phase
      description: Patches the writable phase fields. Naming a server-owned field returns `422 field_read_only`. Emits a durable
        audit event.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: phaseId
        in: path
        required: true
        description: "Budget phase identifier (`phs_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                name:
                  type: string
                alias:
                  type: string
                color:
                  type:
                  - string
                  - 'null'
                isHidden:
                  type: boolean
                rollupFormula:
                  type:
                  - string
                  - 'null'
                  maxLength: 2000
                  pattern: ^(?:@\{[\w-]+\}|@[\w-]+|[\d\s+\-*/().,%])*$
                  description: 'Rollup formula (only legal on a `type: rollup` phase): `@{<phaseId>}` references combined
                    with + and -. Null clears it. Setting it on a non-rollup phase returns `400 validation`.'
      responses:
        '200':
          description: The updated phase.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPhase'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: budget_deletePhase
      summary: 'Soft-delete a budget phase (CAUTION: deleting an actual- or rollup-type phase removes the actual or totals
        column - reorganizing estimate columns never requires it)'
      description: 'Soft-deletes the phase column (`soft-delete timestamp = now`). CAUTION: deleting an actual- or rollup-type
        phase removes that column from the budget. Reorganizing or renaming estimate columns never requires deleting actual
        or rollup phases. Emits a durable audit event.'
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: phaseId
        in: path
        required: true
        description: "Budget phase identifier (`phs_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Soft-deleted. No body.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents:
    post:
      operationId: documents_drop
      tags:
      - Documents
      summary: Drop a document (optionally assign atomically)
      description: Upload a document once. Optionally link it to one or more typed targets in the same atomic call via `metadata.links`.
        If any target fails validation, permission, or the cross-workspace check, the request fails and creates no document
        row or orphan blob. Multiple targets must use distinct kinds. The link permission gate is `update` on each target
        subject. This is a billable create. It accepts an optional `Idempotency-Key` header for safe retries.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        description: Optional client-generated key for safe retries of this billable drop. Replaying the same key with a different
          body returns `409 idempotency_conflict`.
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentCreateRequest'
            encoding:
              metadata:
                contentType: application/json
      responses:
        '201':
          description: The created document, including any links made atomically with the drop.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    get:
      operationId: documents_list
      tags:
      - Documents
      summary: List / filter documents
      description: List documents in the workspace, paginated (cap 100). Filter by folder, assignment target, unassigned-only,
        project, status, classification, coarse type, or a name/description search.
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/documentExpand'
      - $ref: '#/components/parameters/withCount'
      - $ref: '#/components/parameters/view'
      - name: folder
        in: query
        required: false
        description: "Restrict to documents in this folder (`fld_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      - name: linkedTo
        in: query
        required: false
        description: Restrict to documents assigned to a specific target, expressed as `kind:id` (e.g. `transaction:txn_8f2a1c9e`).
        schema:
          type: string
          pattern: ^(transaction|purchaseOrder|contact|project):.+$
        examples:
          byTransaction:
            value: transaction:txn_8f2a1c9e
      - name: unassigned
        in: query
        required: false
        description: When `true`, restrict to documents with no entity assignment (no reference set).
        schema:
          type: boolean
      - name: project
        in: query
        required: false
        description: "Restrict to documents scoped to this project (`prj_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      - name: status
        in: query
        required: false
        description: Restrict to documents in this processing status.
        schema:
          $ref: '#/components/schemas/DocumentStatus'
      - name: classification
        in: query
        required: false
        description: Restrict to documents with this fine-grained classification.
        schema:
          type: string
      - name: coarseType
        in: query
        required: false
        description: Restrict to documents of this coarse content category.
        schema:
          $ref: '#/components/schemas/DocumentCoarseType'
      - name: q
        in: query
        required: false
        description: Search over document name / description.
        schema:
          type: string
      responses:
        '200':
          description: A paginated page of documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCollection'
              examples:
                page:
                  value:
                    data:
                    - id: doc_4b1f0a7c
                      name: vendor-invoice-0425.pdf
                      mimeType: application/pdf
                      size: 184320
                      status: READY
                      projectId: prj_71aa
                      links:
                      - kind: transaction
                        id: txn_8f2a1c9e
                      createdAt: '2026-05-28T14:03:11Z'
                      updatedAt: '2026-05-28T14:03:40Z'
                    nextCursor: eyJpZCI6ImRvY180YjFmMGE3YyJ9
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents/{documentId}:
    get:
      operationId: documents_get
      tags:
      - Documents
      summary: Get document metadata
      parameters:
      - name: documentId
        in: path
        required: true
        description: "Document id (`doc_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/documentExpand'
      responses:
        '200':
          description: The document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: documents_update
      tags:
      - Documents
      summary: Rename / move / re-describe a document
      description: Update client-writable fields only (`name`, `description`, `folderId`). Links are managed through `/documents/{documentId}/links/{kind}`.
        Naming a server-owned field returns `422 field_read_only`.
      parameters:
      - name: documentId
        in: path
        required: true
        description: "Document id (`doc_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdateRequest'
            examples:
              rename:
                value:
                  name: vendor-invoice-april.pdf
      responses:
        '200':
          description: The updated document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: documents_delete
      tags:
      - Documents
      summary: Delete a document
      description: Soft-delete the document. Idempotent, safe to retry.
      parameters:
      - name: documentId
        in: path
        required: true
        description: "Document id (`doc_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted. No body.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents/{documentId}/content:
    get:
      operationId: documents_getContent
      tags:
      - Documents
      summary: Download document bytes
      description: Stream the stored document blob. The response `Content-Type` is the document's `mimeType`.
      parameters:
      - name: documentId
        in: path
        required: true
        description: "Document id (`doc_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The raw document bytes.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents/{documentId}/links/{kind}:
    parameters:
    - name: documentId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/Id'
    - name: kind
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/DocumentTargetKind'
    put:
      operationId: documents_putLink
      tags:
      - Documents
      summary: Link a document to a typed target
      description: Links the document to one target of this kind. The same target is an idempotent no-op. A different target
        conflicts unless replace is true.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentLinkRequest'
      responses:
        '200':
          description: The document with its updated links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: documents_deleteLink
      tags:
      - Documents
      summary: Remove a document link
      description: Removes the current link for this kind. The operation is idempotent when no link of that kind exists.
      responses:
        '200':
          description: The document with its updated links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents/{documentId}/extraction:
    get:
      operationId: documents_getExtraction
      tags:
      - Documents
      summary: Get a document's structured extraction
      description: The structured fields the platform extracted from the document, the replacement for the legacy per-attachment
        parsed-document read. Returns the classification, a flat map of extracted typed fields (e.g. invoice number, vendor,
        total, dates), and any line items, each with a confidence score so a consumer can threshold low-confidence values.
        Available only once `status = READY`; while the document is still `PENDING`/`PROCESSING` this returns `404 not_found`
        (extraction not ready yet, re-fetch the document and retry when its `status` is `READY`), and a `FAILED` document
        has no extraction. Read-only, extraction is set by the platform, never by the client.
      parameters:
      - name: documentId
        in: path
        required: true
        description: "Document id (`doc_\u2026`)."
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The document's structured extraction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentExtraction'
              examples:
                invoice:
                  value:
                    documentId: doc_4b1f0a7c
                    status: READY
                    classification: invoice
                    coarseType: financial
                    extractedAt: '2026-05-28T14:03:40Z'
                    fields:
                      invoiceNumber:
                        value: '4471'
                        confidence: 0.98
                      vendorName:
                        value: B&H Photo
                        confidence: 0.95
                      total:
                        value: '1529.00'
                        confidence: 0.91
                      invoiceDate:
                        value: '2026-05-20'
                        confidence: 0.88
                    lineItems:
                    - description: Camera body rental - 3 days
                      amount:
                        amount: 75000
                        currency: USD
                      confidence: 0.86
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/rate-packs:
    get:
      operationId: library_listRatePacks
      summary: List rate packs visible to the workspace
      description: "Rate packs visible to the workspace: `PUBLIC` \u222A workspace-owned, live. Each carries `enabled`/`isOwned`/`latestVersion`.\
        \ Enabled/installed deprecated packs are included and flagged `deprecated: true`."
      tags:
      - Library (workspace)
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/withCount'
      - $ref: '#/components/parameters/ratePackExpand'
      - name: q
        in: query
        required: false
        description: Free-text search over pack name / publisher / tags.
        schema:
          type: string
      - name: category
        in: query
        required: false
        schema:
          type: string
      - name: visibility
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/PackVisibility'
      - name: deprecated
        in: query
        required: false
        description: Filter by deprecation state.
        schema:
          type: boolean
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of rate packs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackCollection'
              example:
                data:
                - id: rpk_2a9f
                  slug: iatse-local-871
                  name: IATSE Local 871
                  category: union
                  tags:
                  - union
                  - scripted
                  visibility: PUBLIC
                  isOwned: false
                  deprecated: false
                  enabled: true
                  latestVersion:
                    id: rpv_1
                    effectiveDate: '2026-01-01'
                    itemCount: 142
                nextCursor: eyJpZCI6InJwa18yYTlmIn0
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createRatePack
      summary: Author a PRIVATE workspace-owned rate pack
      description: Creates a PRIVATE pack and auto-enables it for the workspace. Returns the created pack.
      tags:
      - Library (workspace)
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePackCreate'
            example:
              name: My Crew Rates
              category: custom
              tags:
              - internal
      responses:
        '201':
          description: The created rate pack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePack'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/rate-packs/{packId}:
    get:
      operationId: library_getRatePack
      summary: Get a rate pack
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/ratePackExpand'
      responses:
        '200':
          description: The rate pack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePack'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateRatePack
      summary: Update an owned rate pack
      description: Patches an owned pack. A non-owned pack returns `404 not_found` (no existence leak).
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePackUpdate'
            example:
              name: My Crew Rates 2026
      responses:
        '200':
          description: The updated rate pack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePack'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteRatePack
      summary: Soft-delete an owned rate pack
      description: Soft-deletes the pack (`soft-delete timestamp`), preserving lineage. Idempotent.
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/rate-packs/{packId}/enablement:
    post:
      operationId: library_enableRatePack
      summary: Enable a rate pack for the workspace
      description: Idempotent upsert of the workspace-enable link (deterministic id, resurrects a soft-deleted link). Enabling
        a deprecated pack returns `400 validation`; a PRIVATE pack owned by another workspace returns `404 not_found`.
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The enable link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackEnableLink'
              example:
                id: wrp_5
                ratePackId: rpk_2a9f
                enabledAt: '2026-05-28T10:00:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_disableRatePack
      summary: Disable a rate pack for the workspace
      description: Soft-deletes the enable link. Idempotent.
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Disabled.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/rate-packs/{packId}/items:
    get:
      operationId: library_listRatePackItems
      summary: Search/browse a pack's current-version items
      description: Latest-version, non-deleted items. Access requires the pack to be enabled, owned, or PUBLIC. Paginated
        (cap 100).
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        description: Free-text search over item title / aliases.
        schema:
          type: string
      - name: group
        in: query
        required: false
        schema:
          type: string
      - name: agreement
        in: query
        required: false
        schema:
          type: string
      - name: local
        in: query
        required: false
        schema:
          type: string
      - name: effectiveDate
        in: query
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: A page of pack items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackItemCollection'
              example:
                data:
                - id: rpi_9c
                  title: Costume Designer
                  rate:
                    amount: 6500
                    currency: USD
                  unit: Day
                  currency: USD
                  group: Wardrobe
                  local: '871'
                  labels: []
                nextCursor: null
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    post:
      operationId: library_createRatePackItem
      summary: Add an item to an owned pack
      description: Adds an item (auto-creates v1 if the pack has no version). Server recomputes itemCount/searchText.
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePackItemCreate'
            example:
              title: Key Grip
              rate:
                amount: 5800
                currency: USD
              unit: Day
              group: Grip
      responses:
        '201':
          description: The created item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackItem'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '409':
          $ref: '#/components/responses/Error409'
  /library/rate-packs/{packId}/items/{itemId}:
    patch:
      operationId: library_updateRatePackItem
      summary: Update a pack item
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - name: itemId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePackItemUpdate'
            example:
              rate:
                amount: 6000
                currency: USD
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackItem'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteRatePackItem
      summary: Soft-delete a pack item
      description: Soft-deletes the item; server recomputes itemCount. Idempotent.
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - name: itemId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/incentive-packs:
    get:
      operationId: library_listIncentivePacks
      summary: List incentive packs visible to the workspace
      tags:
      - Library (workspace)
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - $ref: '#/components/parameters/incentivePackExpand'
      - name: category
        in: query
        required: false
        schema:
          type: string
      - name: jurisdiction
        in: query
        required: false
        schema:
          type: string
      - name: deprecated
        in: query
        required: false
        schema:
          type: boolean
      - name: enabled
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: A page of incentive packs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentivePackCollection'
              example:
                data:
                - id: ipk_ga
                  slug: georgia-film-credit
                  name: Georgia Film Tax Credit
                  jurisdiction: US-GA
                  visibility: PUBLIC
                  isOwned: false
                  deprecated: false
                  enabled: true
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
  /library/incentive-packs/{packId}:
    get:
      operationId: library_getIncentivePack
      summary: Get an incentive pack
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/incentivePackExpand'
      responses:
        '200':
          description: The incentive pack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentivePack'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/incentive-packs/{packId}/programs:
    get:
      operationId: library_listIncentivePrograms
      summary: List an incentive pack's programs (rules)
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - name: jurisdiction
        in: query
        required: false
        schema:
          type: string
      - name: incentiveType
        in: query
        required: false
        schema:
          type: string
      - name: incentiveStructure
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
          enum:
          - draft
          - published
          - archived
      responses:
        '200':
          description: A page of incentive programs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveProgramCollection'
              example:
                data:
                - id: ipr_base
                  name: Base Transferable Credit
                  incentiveType: tax-credit
                  incentiveStructure: transferable
                  status: published
                  currentVersionId: ipv_2026
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/incentive-packs/{packId}/enablement:
    post:
      operationId: library_enableIncentivePack
      summary: Enable an incentive pack for the workspace
      description: Idempotent upsert or resurrection of the workspace enablement. Enabling a deprecated pack returns `400
        validation`; a private pack owned by another workspace returns `404 not_found`. Incentive programs are added through
        `POST /projects/{projectId}/library/incentives`.
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The enable link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentivePackEnableLink'
              example:
                id: wip_3
                incentivePackId: ipk_ga
                enabledAt: '2026-05-28T10:00:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_disableIncentivePack
      summary: Disable an incentive pack for the workspace
      description: Soft-deletes the enable link. Idempotent.
      tags:
      - Library (workspace)
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Disabled.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/fringes:
    get:
      operationId: library_listFringes
      summary: List workspace fringe templates
      tags:
      - Library (workspace)
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of fringe templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeCollection'
              example:
                data:
                - id: frg_pr
                  name: Payroll Tax
                  rate: 0.0765
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createFringe
      summary: Create a workspace fringe template
      tags:
      - Library (workspace)
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FringeWrite'
            example:
              name: Payroll Tax
              rate: 0.0765
      responses:
        '201':
          description: The created template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fringe'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/fringes/{fringeId}:
    get:
      operationId: library_getFringe
      summary: Get a workspace fringe template
      tags:
      - Library (workspace)
      parameters:
      - name: fringeId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The fringe template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fringe'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateFringe
      summary: Update a workspace fringe template
      tags:
      - Library (workspace)
      parameters:
      - name: fringeId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FringeWrite'
            example:
              rate: 0.08
      responses:
        '200':
          description: The updated template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fringe'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteFringe
      summary: Soft-delete a workspace fringe template
      description: Soft-deletes the template. Project copies keep their `sourceId`; `expand=source` then resolves to a tombstone
        (never null).
      tags:
      - Library (workspace)
      parameters:
      - name: fringeId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/globals:
    get:
      operationId: library_listGlobals
      summary: List workspace global templates
      tags:
      - Library (workspace)
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of global templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalCollection'
              example:
                data:
                - id: gbl_days
                  name: Shoot Days
                  value: 35
                  unit: Day
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createGlobal
      summary: Create a workspace global template
      tags:
      - Library (workspace)
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalWrite'
            example:
              name: Shoot Days
              value: 35
              unit: Day
      responses:
        '201':
          description: The created template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Global'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/globals/{globalId}:
    get:
      operationId: library_getGlobal
      summary: Get a workspace global template
      tags:
      - Library (workspace)
      parameters:
      - name: globalId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The global template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Global'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateGlobal
      summary: Update a workspace global template
      tags:
      - Library (workspace)
      parameters:
      - name: globalId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalWrite'
            example:
              value: 40
      responses:
        '200':
          description: The updated template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Global'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteGlobal
      summary: Soft-delete a workspace global template
      tags:
      - Library (workspace)
      parameters:
      - name: globalId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/currencies:
    get:
      operationId: library_listCurrencys
      summary: List workspace currency templates
      tags:
      - Library (workspace)
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of currency templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyCollection'
              example:
                data:
                - id: cur_gbp
                  code: GBP
                  name: British Pound
                  rate: 1.27
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createCurrency
      summary: Create a workspace currency template
      tags:
      - Library (workspace)
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyWrite'
            example:
              code: GBP
              name: British Pound
              rate: 1.27
      responses:
        '201':
          description: The created template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/currencies/{currencyId}:
    get:
      operationId: library_getCurrency
      summary: Get a workspace currency template
      tags:
      - Library (workspace)
      parameters:
      - name: currencyId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The currency template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateCurrency
      summary: Update a workspace currency template
      tags:
      - Library (workspace)
      parameters:
      - name: currencyId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyWrite'
            example:
              rate: 1.31
      responses:
        '200':
          description: The updated template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteCurrency
      summary: Soft-delete a workspace currency template
      tags:
      - Library (workspace)
      parameters:
      - name: currencyId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/fringe-groups:
    get:
      operationId: library_listFringeGroups
      summary: List workspace fringe-tag templates
      description: Fringe groups.
      tags:
      - Library (workspace)
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of fringe-tag templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeGroupCollection'
              example:
                data:
                - id: frt_union
                  name: Union
                  color: blue
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createFringeGroup
      summary: Create a workspace fringe-tag template
      tags:
      - Library (workspace)
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FringeGroupWrite'
            example:
              name: Union
              color: blue
      responses:
        '201':
          description: The created template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeGroup'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/fringe-groups/{fringeGroupId}:
    get:
      operationId: library_getFringeGroup
      summary: Get a workspace fringe-tag template
      tags:
      - Library (workspace)
      parameters:
      - name: fringeGroupId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The fringe-tag template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeGroup'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateFringeGroup
      summary: Update a workspace fringe-tag template
      tags:
      - Library (workspace)
      parameters:
      - name: fringeGroupId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FringeGroupWrite'
            example:
              color: green
      responses:
        '200':
          description: The updated template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeGroup'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteFringeGroup
      summary: Soft-delete a workspace fringe-tag template
      tags:
      - Library (workspace)
      parameters:
      - name: fringeGroupId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/tags:
    get:
      operationId: library_listTags
      summary: List the workspace tag pool
      tags:
      - Library (workspace)
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: eligibilityKey
        in: query
        required: false
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagCollection'
              example:
                data:
                - id: tag_atl
                  name: Atlanta
                  color: orange
                  createdAt: '2026-01-02T08:00:00Z'
                  updatedAt: '2026-01-02T08:00:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createTag
      summary: Create a workspace tag
      description: Idempotent on a supplied `id`. `color` must be a Tailwind key or null (else `422`).
      tags:
      - Library (workspace)
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreate'
            example:
              name: Atlanta
              color: orange
      responses:
        '201':
          description: The created tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/tags/{tagId}:
    get:
      operationId: library_getTag
      summary: Get a workspace tag
      tags:
      - Library (workspace)
      parameters:
      - name: tagId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateTag
      summary: Update a workspace tag
      tags:
      - Library (workspace)
      parameters:
      - name: tagId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdate'
            example:
              color: green
      responses:
        '200':
          description: The updated tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteTag
      summary: Soft-delete a workspace tag
      description: Soft-deletes the tag; historical assignments stay resolvable. Idempotent.
      tags:
      - Library (workspace)
      parameters:
      - name: tagId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/units:
    get:
      operationId: library_listUnits
      summary: List units
      description: The 17 read-only built-in units merged with the workspace's live custom units.
      tags:
      - Library (workspace)
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: All units.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitCollection'
              example:
                data:
                - id: Day
                  label: Day
                  isCustom: false
                - id: cun_box
                  label: Box Rental
                  isCustom: true
                  createdAt: '2026-03-01T08:00:00Z'
                  updatedAt: '2026-03-01T08:00:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createUnit
      summary: Create a unit
      description: Built-in units cannot be changed. Custom units can be created, updated, and deleted.
      tags:
      - Library (workspace)
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: 'Required client-generated key (16-255 chars) for exactly-once creation. Retrying with the same key replays
          the original result (`Idempotency-Replayed: true`); the same key with a different body returns `409 idempotency_conflict`.
          Missing or too-short key returns `400 validation`.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitCreate'
            example:
              label: Box Rental
      responses:
        '201':
          description: The created unit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/units/{unitId}:
    get:
      operationId: library_getUnit
      summary: Get a unit
      description: Built-in units are readable and immutable. Custom units use the same shape and can be updated or deleted.
      tags:
      - Library (workspace)
      parameters:
      - name: unitId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The unit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
    patch:
      operationId: library_updateUnit
      summary: Update a unit
      tags:
      - Library (workspace)
      parameters:
      - name: unitId
        in: path
        required: true
        schema:
[...]
